<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VID" value="vid_05f3" />
    <add key="PID" value="pid_00ff" />
    <add key="Left" value="L" />
    <add key="Middle" value="M" />
    <add key="Right" value="R" />

    <add key="VKeyLeft" value="{LEFT}" />
    <add key="VKeyMiddle" value=" " />
    <add key="VKeyRight" value="{RIGHT}" />
    
  </appSettings>
</configuration>