<?xml version="1.0" encoding="UTF-8"?>
<?define PRODUCT="NanoTrans"?>
<?define MAINEXE=$(var.NanoTrans.TargetFileName)?>
<?define VERSION=!(bind.FileVersion.$(var.MAINEXE))?>  
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Manufacturer="TUL::Speechlab" UpgradeCode="{36C81A72-77C8-4BD6-9D9C-3C685DE782C3}"
           Name="$(var.PRODUCT) $(var.VERSION)"
           Version="$(var.VERSION)"
           Language="1029"
           Codepage="1250"
           >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="NanoTrans installer" Id="*" Languages="1029"/>

    <!--installer UI-->
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ApplicationFolderName" Value="My Application Folder" />
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <!--localize-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.NanoTrans.TargetDir)\MITlicense.rtf" />


    <MajorUpgrade DowngradeErrorMessage="!(loc.MajorUpgradeError)" />

    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Application" Title="NanoTrans" Level="1" ConfigurableDirectory='APPLICATIONFOLDER' InstallDefault='local' Absent="disallow" Display="expand">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductPlugins" />
      <ComponentGroupRef Id="Localization_cs" />
      <ComponentGroupRef Id="Localization_en" />

      <Feature Id="StartMenu" Level="50" Title="Start menu items" InstallDefault='local'>
        <Component Id='StartShortcuts' Directory="ProgramMenuFolder" Guid="{E829A12D-9D23-427A-AA19-92C32452BB70}">
          <RegistryKey Root="HKCU" Key="Software\NanoTrans\Uninstall">
            <RegistryValue Value="installed" Type="string" KeyPath="yes" />
          </RegistryKey>

          <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="NanoTrans" WorkingDirectory="APPLICATIONFOLDER" Target="[APPLICATIONFOLDER]NanoTrans.exe"/>

        <RemoveFolder Directory="ApplicationProgramsFolder" Id="RemoveShorcutFolder" On="uninstall" />
        </Component>
      </Feature>

      <Feature Id="RegisterTRSX" Level="50" Title="register *.trsx extension" InstallDefault='local'>
        <ComponentGroupRef Id='ProductComponents' />

        <!--extension registration ****** working-->
        <Component Id="trsxregistration" Directory="APPLICATIONFOLDER">
          <ProgId Id="NanoTrans" Icon="NanoTrans.exe" IconIndex="0" Description="!(loc.DescTrsx)">
            <Extension Id="trsx" >
              <Verb Id="open" Argument="&quot;%1&quot;" TargetFile="NanoTrans.exe" />
            </Extension>
          </ProgId>

          <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" ****** who knows :)-->
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities" Name="ApplicationDescription" Value="!(loc.ApplicationDescription)" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]NanoTrans.exe,0" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities" Name="ApplicationName" Value="NanoTrans" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]NanoTrans.exe,0" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities\FileAssociations" Name=".trsx" Value="NanoTrans.Transcription" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities\MIMEAssociations" Name="application/trsx" Value="NanoTrans.Transcription" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\NanoTrans\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]NanoTrans.exe&quot; %1" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="NanoTrans" Value="SOFTWARE\NanoTrans\Capabilities" Type="string" />

          <!-- App Paths to support Start,Run -> "myapp" *****working -->
          <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\NanoTrans.exe" Value="[APPLICATIONFOLDER]NanoTrans.exe" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\NanoTrans.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

          <!-- Extend to the "open with" list + Win7 jump menu pinning  *****working -->
          <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\NanoTrans.exe\SupportedTypes" Name=".trsx" Value="" Type="string" />
          <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\NanoTrans.exe\shell\open\command" Value="&quot;[APPLICATIONFOLDER]NanoTrans.exe&quot; %1" Type="string" />
        </Component>
      </Feature>


      <!--localize-->
      <Feature Id="DesktopIcon" Title="Desktop Icon" Level="50" InstallDefault='local'>
        <Component Id="DesktopShortcut" Directory="APPLICATIONFOLDER" Guid="*">
          <RegistryValue Id="RegShortcutDesktop" Root="HKCU" Key="SOFTWARE\NanoTrans\Uninstall" Name="DesktopSC" Value="yes" Type="string" KeyPath="yes" />
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="NanoTrans" WorkingDirectory="APPLICATIONFOLDER" Target="[APPLICATIONFOLDER]NanoTrans.exe"/>
        </Component>

      </Feature>


    </Feature>
  </Product>

  <!--directories-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="NanoTrans"/>
      </Directory>
      
      <Directory Id="DesktopFolder"  SourceName="Desktop"/>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="NanoTrans">
          <Directory Id="Plugins" Name="Plugins" />
          <Directory Id="Locale_cs" Name="cs" />
          <Directory Id="Locale_en" Name="en" />
        </Directory>
      </Directory>
    </Directory>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="AllFiles" Guid="{EC21FF94-8494-4EB3-8D8F-07EA0B24D5D6}" KeyPath="yes">
        <File Id="Hunspell86" Name="Hunspellx86.dll" Source="$(var.NanoTrans.TargetDir)\Hunspellx86.dll" />
        <File Id="Hunspell64" Name="Hunspellx64.dll" Source="$(var.NanoTrans.TargetDir)\Hunspellx64.dll" />
        <File Id="NHunspell" Name="NHunspell.dll" Source="$(var.NanoTrans.TargetDir)\NHunspell.dll" />

        <File Id="FFmpeg.exe" Name="FFmpeg.exe" Source="$(var.NanoTrans.TargetDir)FFmpeg.exe" />

        <File Id="ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="$(var.NanoTrans.TargetDir)\ICSharpCode.AvalonEdit.dll" />

        <File Id="Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.NanoTrans.TargetDir)Ionic.Zip.dll" />

        <File Id="SharpDX.DirectSound.dll" Name="SharpDX.DirectSound.dll" Source="$(var.NanoTrans.TargetDir)\SharpDX.DirectSound.dll"/>
        <File Id="SharpDX.dll" Name="SharpDX.dll" Source="$(var.NanoTrans.TargetDir)SharpDX.dll" />

        <File Id="WPFToolkit.dll" Name="WPFToolkit.dll" Source="$(var.NanoTrans.TargetDir)\WPFToolkit.dll"/>
        <File Id="WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.NanoTrans.TargetDir)\WPFToolkit.Extended.dll"/>

        <File Id="WPFLocalizeExtension.dll" Name="WPFLocalizeExtension.dll" Source="$(var.NanoTrans.TargetDir)\WPFLocalizeExtension.dll"/>
        <File Id="XAMLMarkupExtensions.dll" Name="XAMLMarkupExtensions.dll" Source="$(var.NanoTrans.TargetDir)\XAMLMarkupExtensions.dll"/>

        <File Id="NanoTransCore.dll" Name="NanoTransCore.dll" Source="$(var.NanoTrans.TargetDir)\NanoTransCore.dll"/>

        <File Id="NanoTrans.exe" Name="NanoTrans.exe" Source="$(var.NanoTrans.TargetDir)\NanoTrans.exe" />
        <File Id="NanoTrans.exe.config" Name="NanoTrans.exe.config" Source="$(var.NanoTrans.TargetDir)\NanoTrans.exe.config"/>

        <File Id="TRSXSchema3.xsd" Name="TRSXSchema3.xsd" Source="$(var.NanoTrans.TargetDir)\TRSXSchema3.xsd"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductPlugins" Directory="Plugins">
      <Component Id="PluginList" Guid="{032896F5-34F4-42D6-B4AC-7B81A0C2A6E1}" KeyPath="yes">
        <File Id="Plugins.xml" Name="Plugins.xml" Source="$(var.NanoTrans.TargetDir)\Plugins\Plugins.xml" />
      </Component>

      <Component Id="ExePluginTXTexport" Guid="{81C4467C-394C-4510-97AC-66AC7238F015}" KeyPath="yes">
        <File Id="ExePluginTXTexport.exe" Name="ExePluginTXTexport.exe" Source="$(var.NanoTrans.TargetDir)\Plugins\ExePluginTXTexport.exe"/>
      </Component>

      <Component Id="NvxPlugin" Guid="{937978B3-DB06-4624-BE64-36F139774EC5}" KeyPath="yes">
        <File Id="NvxPlugin.dll" Name="NvxPlugin.dll" Source="$(var.NanoTrans.TargetDir)\Plugins\NvxPlugin.dll"/>
      </Component>

      <Component Id="ResPlugin" Guid="{A080C06D-43C9-47A0-A594-D2DAF8C0CD46}" KeyPath="yes">
        <File Id="ResPlugin.dll" Name="ResPlugin.dll" Source="$(var.NanoTrans.TargetDir)\Plugins\ResPlugin.dll"/>
      </Component>

    </ComponentGroup>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="Localization_cs" Directory="Locale_cs">
      <Component Id="resource_cs" Guid="{3D77C9B3-FA32-4C23-B8AB-19736796879E}" KeyPath="yes">
        <File Id="cs_NanoTrans.resources.dll" Name="NanoTrans.resources.dll" Source="$(var.NanoTrans.TargetDir)\cs\NanoTrans.resources.dll"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Localization_en" Directory="Locale_en">
      <Component Id="resource_en" Guid="{FEC0EA4F-FA0C-4208-9FBE-E273A783892C}" KeyPath="yes">
        <File Id="en_NanoTrans.resources.dll" Name="NanoTrans.resources.dll" Source="$(var.NanoTrans.TargetDir)\en\NanoTrans.resources.dll"/>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>