<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NanoTrans.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <NanoTrans.Properties.Settings>
            <setting name="PhoneticsPanelVisibleStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowsPositionStore" serializeAs="String">
                <value>-1,-1</value>
            </setting>
            <setting name="WindowSizeStore" serializeAs="String">
                <value>800,600</value>
            </setting>
            <setting name="WindowStateStore" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="OutputDeviceIndexStore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlowedPlaybackSpeedStore" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="WaveformSmallJumpStore" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="SetupTextFontSizeStore" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SpeakersDatabasePathStore" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveWholeSpeakerStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpeakerImageStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSpeakerImageWidthStore" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowCustomParamsStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoPanelWidthStore" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LocaleStore" serializeAs="String">
                <value>----</value>
            </setting>
            <setting name="ParagraphBackgroundStore" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="SectionBackgroundStore" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ChapterBackgroundStore" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="ActiveParagraphBackgroundStore" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="PhoneticParagraphBackgroundStore" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="PhoneticParagraphDisabledBackgroundStore" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="WaveformBackgroundStore" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="WaveformForegroundStore" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WaveformTimelineBackgroundStore" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="WaveformSpeakerBackgroundStore" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="ParagraphBeginColorStore" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ParagraphEndColorStore" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WaveformBlockMarkColorStore" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="VideoPanelVisibleStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdditionalSpeakerAttributeCategories" serializeAs="String">
                <value/>
            </setting>
        </NanoTrans.Properties.Settings>
    </userSettings>
</configuration>
