<?xml version="1.0"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="UpdateDefinitions" value="http://admin.notebook.ttxman.operaunite.com/file_sharing_1/content/Definitions.xml"/>
    <add key="OODictionarySource" value="http://admin.notebook.ttxman.operaunite.com/file_sharing_1/content/dict-cs-2.oxt"/>
  </appSettings>
</configuration>
